<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Item List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ng-container *ngIf="!items || items.length == 0">
            <div *ngFor="let n of [0,1,2,3]" padding>
                <!--        <ion-skeleton></ion-skeleton>-->
                <p>
                    <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
                </p>
            </div>
        </ng-container>

        <ion-item-sliding *ngFor="let item of items">
            <ion-item lines="inset" >

                <div [routerLink]="['/details', item.id]" class="click-container">
                    <ion-label>
                        {{ item.name }}
                    </ion-label>
                    <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
                </div>

                <div class="delete-container">
                    <ion-icon slot="end" name="close" button (click)="deleteItem(item)"></ion-icon>
                </div>
            </ion-item>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/details" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
